.search-heading-wrap {
  padding: rem-calc(32 0);
  text-align: center;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: rem-calc(32 0);
  }
  h1 {
    margin-bottom: 0;
    display: inline-flex;
  }
  .form-search {
    position: relative;
    padding: 0;
    top: 0;
    margin-top: rem-calc(32);
   
    @include media-breakpoint-down(md) {
      margin-top: rem-calc(24);
    }
    .input-group {
      .icon-search {
        font-size: rem-calc(24);
      }
      .btn {
        padding: rem-calc(0 16);
      }
    }
  }
}
.search-results-wrap {
  padding: rem-calc(64 0);
  @include media-breakpoint-down(md) {
    padding: rem-calc(32 0);
  }

  .search-result-heading {
    font-weight: 500;
    margin-bottom: 0;
  }
  .search-results-item {
    padding: rem-calc(32 0 24 0);
    position: relative;
    @include media-breakpoint-down(md) {
      padding: rem-calc(20 0 16 0);
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 1px;
      background: rgba(45, 105, 161, 0.2);
    }
    &.feature-item {
      &::before {
        display: none;
      }
      @include media-breakpoint-down(md) {
        padding-top: rem-calc(0);
      }
    }
    h5 {
      margin-bottom: rem-calc(16);
    }
    a {
      text-decoration: underline;
    }
    .event-details {
      padding-left: 0;

      li {
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        gap: rem-calc(8);
        margin-right: rem-calc(12);
        margin-bottom: rem-calc(12);
        &:last-child {
          display: flex;
        }
        &:nth-child(2) {
          border-left: 1px solid var(--ae-light-blue);
          padding-left: rem-calc(12);
          @include media-breakpoint-down(md) {
            border: none;
            padding-left: 0;
          }
        }
        span {
          &::before {
            color: var(--ae-light-blue);
          }
        }
        .btn {
          display: none;
        }
        a {
          text-decoration: none;
          position: relative;
          font-weight: 700;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 1.5px;
            background: var(--ae-light-blue);
          }
          &:hover {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
