/**
 * Package Name: _cssvars.scss
 * Subpackage: cascadia
 * Author: Raven Developers
 * Author URI: 
 * Description: SCSS
 * Author: Sridhar
 * Created: 05/05/23
 * Version: 1.0
 * License: Creative Commons 3.0 Attribution
 * License URI: 
 * Tags: app
**/

@use "sass:math";

@import "./utils";

:root {
  --body-font-family: #{$font-family-body};
  --helvetica-neue-medium: #{$helvetica-neue-medium};
  --helvetica-neue-heavy: #{$helvetica-neue-heavy};
  --heading-font-family: #{$font-family-headings};
  --heading-secondary-font-family: #{$font-family-headings-secondary};
  --body-text-color: #{$ae_dark_blue};

  // Custom theme colors (less verbose)
  @each $color, $value in $alaska-colors {
    --#{$color}: #{$value};
  }

  // Margin spacings
  @each $space, $value in $spacers {
    --size-#{$space}: #{$value};
  }

  // Font sizes
  @each $size, $value in $font-sizes {
    --fz-#{$size}: #{$value};
  }

  --animate-duration: 1.2s;
  --animate-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-distance: 100px;
}

p {
  line-height: rem-calc(28);
  &:has(.asset){
    margin-bottom: 0 !important;
  }
}
a {
  font-weight: 800;
  text-decoration: underline;
  text-underline-offset: rem-calc(4);
  color: var(--ae-dark-blue);
  &:hover {
    text-decoration: none;
    color: var(--ae-darker-blue);
  }
}
u {
  text-underline-offset: rem-calc(4);
}

:disabled,
[disabled],
.disabled {
  color: var(--ae-disabled);
}

.container,
.container-fluid {
  @include media-breakpoint-down(md) {
    padding-left: calc(var(--bs-gutter-x) * 0.75);
    padding-right: calc(var(--bs-gutter-x) * 0.75);
  }
}
.row {
  @include media-breakpoint-down(md) {
    row-gap: rem-calc(32);
    // margin-right: calc(-0.75*var(--bs-gutter-x));
    // margin-left: calc(-0.75*var(--bs-gutter-x));
  }
  > * {
    @include media-breakpoint-down(md) {
      // padding-left: calc(var(--bs-gutter-x) * 0.75);
      // padding-right: calc(var(--bs-gutter-x) * 0.75);
    }
  }
}
