%icon-moon-font {
    font-family: "icomoon" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Heading left border design
.ae-left-border {
    padding-left: rem-calc(28);

    @include media-breakpoint-down(md) {
        padding-left: rem-calc(28);
    }

    position: relative;
    display: flex;

    &::before {
        position: absolute;
        content: "";
        top: rem-calc(13);
        left: 0;
        background: var(--ae-coral);
        height: calc(100% - 24px);
        width: rem-calc(12);

        @include media-breakpoint-down(lg) {
            top: rem-calc(8);
            height: calc(100% - 13px);
        }
    }
}
