.img-text-comp-wrap {
  h2 {
    color: var(--white);
    margin-bottom: rem-calc(68);
    @include media-breakpoint-down(lg) {
      margin-bottom: rem-calc(48);
    }
    @include media-breakpoint-down(md) {
      font-size: rem-calc(28);
      font-weight: 700;
      margin-bottom: rem-calc(0);
    }
    @include media-breakpoint-down(md) {
      font-size: rem-calc(28);
      font-weight: 700;
      margin-bottom: rem-calc(0);
    }
  }
  .row {
    @include media-breakpoint-down(md) {
      row-gap: rem-calc(0);
    }
  }
  .img-wrap {
    img {
      margin-bottom: rem-calc(48);
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include media-breakpoint-down(md) {
        height: rem-calc(300);
        margin-top: rem-calc(8);
        margin-bottom: rem-calc(28);
        max-height: rem-calc(307);
      }
    }
  }
  .content-wrap {
    .two-col {
      column-gap: rem-calc(72);
      @include media-breakpoint-down(lg) {
        column-gap: rem-calc(32);
      }
    }

    p {
      font-size: rem-calc(18);
      color: var(--ae-dark-blue);
      font-family: var(--helvetica-neue-medium);
      margin-bottom: rem-calc(40);
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(md) {
        font-size: rem-calc(16);
        line-height: rem-calc(32);
        margin-bottom: rem-calc(36);
      }
    }
  }
  .left-img {
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }

  .right-img {
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
  }
  &.ae-gradient {
    background-image: linear-gradient(
      var(--ae-light-blue) 45%,
      var(--ae-light-green) 5%,
      var(--ae-light-green) 50%
    );
    @include media-breakpoint-down(lg) {
      background-image: linear-gradient(
        var(--ae-light-blue) 39%,
        var(--ae-light-green) 5%,
        var(--ae-light-green) 50%
      );
    }
    @include media-breakpoint-down(md) {
      background-image: linear-gradient(
        var(--ae-light-blue) 25%,
        var(--ae-light-green) 25%,
        var(--ae-light-green) 50%
      );
    }
  }
}
.img-text-comp-wrap-full,
.video-componet-wrap {
  .img-wrap {
    padding: 0;
    @include media-breakpoint-down(lg) {
      //  padding: rem-calc(0 32);
      z-index: 1;
    }
    @include media-breakpoint-down(md) {
      padding: 0;
      max-height: 307px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .ae-light-green {
    h2 {
      margin-bottom: 0;
      color: var(--ae-blue);
    }
  }
  > .container-fluid {
    @media screen and (min-width: 1620px) {
      max-width: 1340px;
    }
    @include media-breakpoint-down(md) {
      padding: rem-calc(0 16);
      .row {
        row-gap: 0;
      }
    }
  }
  p {
    margin-bottom: rem-calc(36);
    &:last-child {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(lg) {
      margin-bottom: rem-calc(16);
    }
    @include media-breakpoint-down(md) {
      font-size: rem-calc(18);
      line-height: rem-calc(32);
    }
  }
  iframe {
    width: 100%;
    height: rem-calc(424);
    @include media-breakpoint-down(md) {
      height: rem-calc(280);
      margin-bottom: rem-calc(40);
    }
  }
  .adaptive-content-wrap {
    li {
      font-size: rem-calc(18);
      line-height: rem-calc(28);
    }
    p {
      &:last-child() {
        margin-bottom: 0 !important;
      }
    }
    a {
      text-decoration: underline;
    }
    ul {
      li {
        margin-bottom: rem-calc(24);
        &:last-child {
          margin-bottom: 0;
        }
        &::after {
          width: rem-calc(6);
          height: rem-calc(6);
          top: rem-calc(10);
          @include media-breakpoint-down(md) {
            top: rem-calc(4);
          }
        }
        &::before {
          top: rem-calc(9);
          left: rem-calc(3);
          font-size: rem-calc(7);
          @include media-breakpoint-down(md) {
            top: rem-calc(5);
            left: rem-calc(2);
          }
          content: none;
        }
      }
      &.ae-contact-list {
        margin-left: 0;
        padding-left: 0;
        li {
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
    h5 {
      margin-top: rem-calc(24);
      margin-bottom: rem-calc(16);
      .icon-check-circle {
        margin-right: rem-calc(10);
        margin-top: rem-calc(2);
      }
    }
    h6 {
      margin-bottom: rem-calc(16);
    }
    &.px-md-88{
      @include media-breakpoint-down(lg){
        padding-left: rem-calc(32) !important;
        padding-right: rem-calc(32) !important;
      }
    }
    &.py-md-64{
      @include media-breakpoint-down(lg){
        padding-top: rem-calc(32) !important;
        padding-bottom: rem-calc(32) !important;
      }
    }
  }
  .ae-contact-wrap {
    padding: rem-calc(0 80);
    @include media-breakpoint-down(lg) {
      padding: rem-calc(0 32 16 32);
    }
    h5 {
      margin-bottom: rem-calc(8);
    }
    h6 {
      margin-bottom: rem-calc(18);
    }
    .ae-contact-list {
      li {
        &::before,
        &::after {
          display: none;
        }
      }
      .list-with-icon {
        font-size: rem-calc(14);
      }
    }
  }
}

.video-componet-wrap {
  > .container-fluid {
    @include media-breakpoint-down(md) {
      padding-top: 0 !important;
    }
  }
  .video-btn {
    top: 45%;
  }
  &.mt-32 {
    @include media-breakpoint-down(md) {
      margin-top: 0 !important;
    }
  }
  &.py-32 {
    @include media-breakpoint-down(md) {
      padding-top: 0 !important;
    }
  }
  .video-btn {
    top: 45%;
  }
}

.bg-gradient {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: var(--ae-teal);
    width: 60%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .content-wrap,
  .adaptive-content-wrap {
    padding-top: rem-calc(16);
    padding-left: rem-calc(16);
    padding-right: rem-calc(16);
    @include media-breakpoint-up(lg) {
      padding-left: rem-calc(32);
      padding-right: rem-calc(40);
      h2 {
        margin-top: rem-calc(32);
        margin-bottom: rem-calc(32);
      }
    }
    @include media-breakpoint-down(lg) {
      padding: rem-calc(48 24 40 24);
      z-index: 0;
    }
    @include media-breakpoint-down(md) {
      padding-top: rem-calc(48);
      padding-left: rem-calc(16);
      padding-right: rem-calc(16);
      z-index: 0;
      margin-top: rem-calc(-48);
    }
    ul {
      li {
        &::before {
          color: var(--ae-teal);
        }
        &::after {
          background: var(--white);
        }
      }
    }
    .social-share {
      gap: 0;
    }
  }
  p {
    margin-bottom: rem-calc(32);
    line-height: rem-calc(36);
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    @include media-breakpoint-up(md) {
      font-size: rem-calc(18);
    }
  }
}

.bg-gradient-teal {
  @include media-breakpoint-down(lg) {
    img {
      position: relative;
      z-index: 1;
      margin-top: rem-calc(16);
    }
  }
  .adaptive-content-wrap {
    @include media-breakpoint-down(lg) {
      background: var(--ae-teal);
      padding-top: rem-calc(88);
      padding-bottom: rem-calc(64);
      z-index: 0;
      margin-top: rem-calc(-58);
    }
    @include media-breakpoint-down(md) {
      padding-top: rem-calc(72);
      padding-bottom: rem-calc(32);
      z-index: 0;
      margin-top: rem-calc(-74);
      padding-left: rem-calc(16);
      padding-right: rem-calc(16);
    }
    ul {
      li {
        &::before {
          color: var(--ae-teal);
        }
        &::after {
          background: var(--white);
        }
      }
    }
  }
  &::before {
    background: var(--ae-teal);
  }
  * {
    color: var(--white);
  }
  a {
    color: var(--white);
    text-decoration: underline;
    @extend .body-normal;
    font-weight: 600;
    &:hover {
      color: var(--ae-light-green);
    }
  }

  .btn-primary-bordered {
    color: var(--white) !important;
    background: transparent;
    .icon-arrow-right-solid,
    .icon-arrow-right {
      color: var(--ae-blue) !important;
      background: var(--white) !important;
    }
    &:hover {
      background: var(--ae-light-green) !important;
      color: var(--ae-dark-blue) !important;
      .icon-arrow-right-solid,
      .icon-arrow-right {
        color: var(--ae-light-green) !important;
        background: var(--ae-dark-blue) !important;
      }
    }
  }
}

.bg-gradient-light-blue {
  &::before {
    background: var(--ae-light-blue);
  }
  * {
    color: var(--white);
  }
  a {
    color: var(--white);
    text-decoration: underline;
    @extend .body-normal;
    font-weight: 600;
    &:hover {
      color: var(--ae-light-green);
    }
  }
  .btn-primary-bordered {
    color: var(--white) !important;
    background: transparent;
    .icon-arrow-right-solid,
    .icon-arrow-right {
      color: var(--ae-blue) !important;
      background: var(--white) !important;
    }
    &:hover {
      background: var(--ae-light-green) !important;
      color: var(--ae-dark-blue) !important;
      .icon-arrow-right-solid,
      .icon-arrow-right {
        color: var(--ae-light-green) !important;
        background: var(--ae-dark-blue) !important;
      }
    }
  }
}

.bg-gradient-light-green {
  &::before {
    background: var(--ae-light-green);
  }
  * {
    color: var(--ae-dark-blue);
  }
  .content-wrap,
  .adaptive-content-wrap {
    ul {
      li {
        &::before {
          color: var(--ae-teal);
        }
        &::after {
          background: var(--ae-dark-blue);
        }
      }
    }
  }
  a {
    color: var(--ae-dark-blue);
    text-decoration: underline;
    @extend .body-normal;
    font-weight: 600;
    &:hover {
      color: var(--ae-light-blue);
    }
  }
}

.contact-us-wrap {
  > .container {
    .row {
      @include media-breakpoint-down(md) {
        row-gap: 0;
      }
    }
  }
  h2 {
    &:last-child {
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }
  h3 {
    @extend .heading-3;
    color: var(--ae-light-blue);
  }
  .contact-us-list {
    list-style: none;
    li {
      margin-bottom: rem-calc(32);
      &:last-child {
        margin-bottom: 0;
      }
      .list-with-icon {
        gap: rem-calc(56);
        font-size: rem-calc(24);
        font-family: var(--helvetica-neue-medium);
        a {
          display: block;
          text-decoration: underline;
        }
        span.executive-details {
          a {
            text-decoration: none;
          }
        }
        em {
          font-size: rem-calc(20);
          display: block;
        }

        @include media-breakpoint-down(md) {
          gap: rem-calc(28);
          span.executive-details {
            a {
              font-size: rem-calc(18);
            }
          }
          a {
            font-size: rem-calc(16);
          }
          em {
            font-size: rem-calc(12);
          }
        }
      }
      img {
        width: rem-calc(54);
        height: rem-calc(54);
        border-radius: 50%;
        border: 1px solid #81b2df;
        object-fit: cover;
      }
    }
  }
  .contact-heading {
    h3 {
      @include media-breakpoint-up(lg) {
        padding-right: rem-calc(72);
      }
    }
  }
  .contact-info {
    margin-left: auto;
  }
  &.top-heading {
    > .container {
      .row {
        flex-direction: column;
      }
    }
    .contact-info-wrap {
      @include media-breakpoint-up(lg) {
        > .row {
          flex-direction: row !important;
        }
      }
      .contact-info {
        margin: rem-calc(24 0 0 0);
        width: 33.33% !important;
        @include media-breakpoint-down(lg) {
          width: 50% !important;
        }
        @include media-breakpoint-down(md) {
          width: 100% !important;
          &:first-child {
            margin: 0;
          }
        }
      }
      width: 100%;
    }
  }
}
.innerpage-hero-wrap {
  > .container {
    @include media-breakpoint-down(lg) {
      padding-left: rem-calc(16);
      padding-right: rem-calc(16);
    }
  }
  position: relative;
  padding: rem-calc(48 0);
  @include media-breakpoint-down(lg) {
    padding: rem-calc(48 0 0 0);
  }
  @include media-breakpoint-down(md) {
    padding: rem-calc(32 0);
  }
  &::before {
    position: absolute;
    content: "";
    background: var(--ae-light-green);
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

    @include media-breakpoint-down(lg) {
      // display: none;
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-down(md) {
      // display: none;
      width: 30%;
      height: 100%;
    }
  }

  .container-fluid,
  .container {
    // max-width: 100%;
    @media screen and (min-width: 1620px) {
      max-width: 1340px;
    }

    .row {
      align-items: center;

      h5 {
        color: var(--ae-dark-blue);
        font-weight: 500;
        font-size: rem-calc(24);
      }
      p {
        color: var(--ae-dark-blue);
        font-weight: 500;
        font-size: rem-calc(16);
      }
      .img-wrap {
        padding: 0;
        img {
          width: 100%;
        }
        @include media-breakpoint-down(lg) {
          padding: rem-calc(0 16);
          z-index: 1;
        }
      }
      .adaptive-content-wrap {
        font-size: rem-calc(18);
        font-weight: 500;
        line-height: rem-calc(27);
        padding-top: rem-calc(16);
        padding-left: rem-calc(32);
        padding-right: rem-calc(32);
        @include media-breakpoint-up(lg) {
          padding-left: rem-calc(16);
        }
        @include media-breakpoint-down(lg) {
          background: var(--ae-light-green);
          padding: rem-calc(48 16);
          z-index: 0;
          order: 2;
        }
        @include media-breakpoint-down(md) {
          padding: rem-calc(32 24);
          margin-bottom: rem-calc(-32);
          order: 2;
          font-size: rem-calc(18);
          line-height: rem-calc(32);
        }
        &::after {
          @include media-breakpoint-down(md) {
            position: absolute;
            content: "";
            background: var(--ae-light-green);
            width: 3%;
            height: 64.5%;
            right: 0;
            z-index: -1;
            bottom: 16px;
            display: none;
            // width: 30%;
            // height: 98%;
          }
        }
        p,
        span,
        div {
          font-size: rem-calc(18);
          font-weight: 500;
          line-height: 1.75;
          @include media-breakpoint-down(md) {
            font-size: rem-calc(18);
            line-height: rem-calc(32);
          }
        }
      }
    }
  }
  &.inner-hero-switcher {
    .row {
      flex-direction: row-reverse;
    }
    &::before {
      right: 0;
      left: auto;
      @include media-breakpoint-down(lg) {
        // display: none;
        width: 30%;
        height: 98%;
      }
    }
    .adaptive-content-wrap {
      &::after {
        @include media-breakpoint-down(md) {
          right: auto;
          left: 0;
        }
      }
    }
  }
}

.img-wrap {
  position: relative;
  display: inline-block;
  video {
    display: block;
    max-width: 100%;
  }
}
.play-button {
  background: var(--white);
  border: none;
  border-radius: 50%;
  width: rem-calc(80);
  height: rem-calc(80);
  color: var(--ae-dark-blue);
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  cursor: pointer;
  i {
    color: var(--ae-teal);
  }
  &:hover {
    background: var(--ae-teal);
    i {
      color: var(--white);
    }
  }
}

.ae-img-text-wrap {
  padding: rem-calc(80 0);
  @include media-breakpoint-down(md) {
    padding: rem-calc(32 0);
  }
  h2 {
    margin-bottom: rem-calc(16);
  }
  .card-img-wrap {
    padding: 0;
    margin-bottom: 0;
  }
  .ae-contact-list {
    padding-left: rem-calc(0);
    margin-bottom: rem-calc(24);
    li {
      margin-bottom: rem-calc(8);
      a {
        font-family: var(--helvetica-neue-heavy);
        font-size: rem-calc(14);
        color: var(--ae-dark-blue);
      }
      p {
        font-family: var(--helvetica-neue-medium);
        color: var(--ae-dark-blue);
        &:last-child {
          margin-bottom: 0;
        }
      }
      .list-with-icon {
        font-size: rem-calc(14);
      }
      .icon-bg {
        color: var(--ae-blue);
        background: var(--ae-light-green);
      }
    }
  }
  .adaptive-content-wrap {
    p {
      font-family: var(--helvetica-neue-medium);
      color: var(--ae-dark-blue);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .ae-divider {
    margin: rem-calc(16 0);
  }
}
.adaptive-content-wrap {
  table {
    th,
    td {
      color: var(--ae-dark-blue) !important;
    }
  }
}
