.ae-light-blue, .ae-blue {
  background: var(--ae-light-blue);
  * {
    color: var(--white);
  }
  a {
    color: var(--white);
    &:hover {
      color: var(--ae-light-green);
      .icon-bg {
        background: var(--ae-light-green);
        color: var(--ae-light-blue);
      }
    }
  }
  &.alaska-header {
    .nav-link {
      color: var(--white);
    }
  }
  &.text-only-comp-wrap {
    h3,
    p {
      color: var(--white);
    }
  }
  .left-heading-right-text {
    .icon-title-wrap {
      h4 {
        color: var(--white);
      }
    }
  }
  .asset {
    .icon-bg {
      background: var(--white);
      color: var(--ae-light-blue);
    }
    &:hover {
      background: rgba(255, 255, 255, 0.11);
      .asset-name, .icon-pdf-arrow {
        color: var(--ae-light-green);
      }
    }
  }
  ul {
    li {
      color: var(--white);
      &::after {
        background: var(--white);
      }
    }
  }
  &.adaptive-content-wrap,
  .adaptive-content-wrap {
    ul {
      li {
        color: var(--white);
        &::before {
          color: var(--ae-light-blue);
        }
        &::after {
          background: var(--white);
        }
      }
    }
  }
  &.video-card {
    a {
      color: var(--white);
    }
  }
  .ae-contact-list {
    li {
      .icon-bg {
        background: var(--white);
        color: var(--ae-light-blue);
      }
      a {
        &:hover {
          .icon-bg {
            background: var(--ae-light-green);
          }
          .link-text {
            color: var(--ae-light-green);
          }
        }
      }
    }
  }
  .btn-primary-bordered {
    color: var(--white) !important;
    background: transparent;
    .icon-arrow-right-solid,
    .icon-arrow-right {
      color: var(--ae-light-blue) !important;
      background: var(--white) !important;
    }
  }
  &.text-card {
    .card-body {
      h5 {
        color: var(--white);
        border-bottom-color: var(--white);
      }
      p,
      a {
        color: var(--white);
      }
      .btn-primary {
        background: transparent;
        border: 2px solid var(--white);
        &:hover {
          color: var(--ae-light-green) !important;
          border-color: var(--ae-light-green);
          .icon-arrow-right {
            color: var(--ae-light-green) !important;
          }
        }
      }
    }
    .icon-check-circle {
      color: var(--white);
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--white);
      border-bottom: 1px solid var(--white);
    }
  }
  &.card-body {
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: 1px solid var(--white);
    }
    .icon-bg {
      color: var(--ae-light-blue) !important;
    }
    .list-with-icon,
    .link-text {
      color: var(--white) !important;
    }
    p {
      color: var(--white);
    }
    a {
      color: var(--white);
      &:hover {
        color: var(--ae-light-green);
        .link-text {
          color: var(--ae-light-green) !important;
        }
      }
    }
  }
  &.img-card {
    .card-body {
      h6,
      h5,
      p {
        color: var(--white);
      }
    }
    &:hover {
      .card-body {
        h6,
        h5 {
          color: var(--ae-light-green);
        }
      }
    }
  }
  h3 {
    color: var(--white) !important;
  }
  .contact-card {
    padding: 0;
    border: 1px solid var(--ae-light-green) !important;
    .card-body {
      * {
        color: var(--white);
      }
      a {
        &:hover {
          .link-text {
            color: var(--ae-light-green) !important;
          }
        }
      }
      .link-text {
        color: var(--white) !important;
      }
      background: var(--ae-light-blue);
      h6 {
        background: var(--ae-light-green);
        color: var(--ae-darker-blue);
      }
    }
  }
  .btn-card {
    background: var(--ae-light-green) !important;
    border: none;
    * {
      color: var(--ae-darker-blue);
    }
    .icon-bg {
      background: var(--ae-light-blue);
      color: var(--white);
    }
    &:hover {
      * {
        color: var(--white) !important;
      }
      .icon-bg {
        color: var(--ae-light-blue) !important;
      }
    }
  }
  &.nav-inner-links-wrap {
    background: var(--ae-light-blue);
    .inner-nav-links {
      li {
        a {
          background: rgb(255, 255, 255, 75%);
          &.active,
          &:hover {
            background: rgb(255, 255, 255, 100%);
            color: var(--ae-light-blue);
          }
        }
      }
    }
  }
  &.tab-navigation-wrap {
    h5,
    h6,
    p {
      color: var(--white);
    }
    ul {
      border-color: var(--white);
    }
  }
  &.tab-comp-wrap {
    h2 {
      color: var(--white);
    }
  }
  &.ae-tab {
    background: var(--ae-light-blue);
  }
  &.tab-pane {
    background: var(--ae-light-blue) !important;
  }
  .ae-tab {
    .tab-pane {
      &.ae-light-blue {
        border: 1px solid var(--white);
        border-top: none;
        * {
          color: var(--white) !important;
        }
      }
      &.ae-light-green {
        background: var(--ae-light-green) !important;
        border: none;
        * {
          color: var(--ae-darker-blue) !important;
        }
      }
    }
  }
  &.search-results-wrap {
    .search-results-item {
      &::after {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .heading-icon-wrap {
    color: var(--ae-white);
  }
  .gdw_story_title {
    a {
      color: var(--ae-white);
      &:hover {
        color: var(--ae-light-green);
      }
    }
  }
  .adaptive-content-wrap{
    table{
      th,td{
        color: var(--white) !important;
      }
    }
  }
 
}

.ae-teal {
  background: var(--ae-teal);
  * {
    color: var(--white);
  }
  a {
    color: var(--white);
    &:hover {
      color: var(--ae-light-green);
      .icon-bg {
        background: var(--ae-light-green);
        color: var(--ae-teal);
      }
    }
  }
  h3 {
    color: var(--white) !important;
  }
  &.text-only-comp-wrap {
    h3,
    p {
      color: var(--white);
    }
  }
  .left-heading-right-text {
    .icon-title-wrap {
      h4,
      h6 {
        color: var(--white);
      }
      .icon-wrap {
        background: var(--ae-fire);
      }
    }
  }
  .asset {
    .icon-bg {
      background: var(--white);
      color: var(--ae-teal);
    }
    &:hover {
      .asset-name, .icon-pdf-arrow {
        color: var(--ae-light-green);
      }
    }
  }
  .ae-contact-list {
    li {
      .icon-bg {
        background: var(--white);
        color: var(--ae-teal);
      }
      a {
        &:hover {
          .icon-bg {
            background: var(--ae-light-green);
          }
          .link-text {
            color: var(--ae-light-green);
          }
        }
      }
    }
  }
  ul {
    li {
      color: var(--white);
      &::after {
        background: var(--white);
      }
    }
  }

  &.adaptive-content-wrap,
  .adaptive-content-wrap {
    ul {
      li {
        color: var(--white);
        &::before {
          color: var(--ae-light-blue);
        }
        &::after {
          background: var(--white);
        }
      }
    }
  }
  &.video-card {
    a {
      color: var(--white);
    }
  }
  &.text-card {
    .card-body {
      h5 {
        color: var(--white);
        border-bottom-color: var(--white);
      }
      .btn-primary {
        background: transparent;
        border: 2px solid var(--white);
        &:hover {
          color: var(--ae-light-green) !important;
          border-color: var(--ae-light-green);
          .icon-arrow-right {
            color: var(--ae-light-green) !important;
          }
        }
      }
    }
    .icon-check-circle {
      color: var(--white);
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--white);
      border-bottom: 1px solid var(--white);
    }
  }
  &.card-body {
    .list-with-icon,
    .link-text {
      color: var(--white) !important;
    }
    a {
      &:hover {
        .link-text {
          color: var(--ae-light-green) !important;
        }
      }
    }
  }
  &.btn-card {
    background: var(--ae-teal) !important;
    color: var(--white);
    a {
      .icon-bg {
        background: var(--white);
        color: var(--ae-teal);
      }
      &:hover {
        color: var(--ae-light-green);
        .icon-bg {
          background: var(--ae-light-green);
        }
      }
    }
  }
  &.img-card {
    .card-body {
      h6,
      h5,
      p {
        color: var(--white);
      }
    }
    &:hover {
      .card-body {
        h6,
        h5 {
          color: var(--ae-light-green);
        }
      }
    }
  }
  .btn-card {
    background: var(--ae-light-green);
    .icon-bg {
      background: var(--ae-light-blue) !important;
      color: var(--white);
    }
    * {
      color: var(--ae-darker-blue);
    }
    &:hover {
      background: rgba(255, 255, 255, 0.11) !important;
      * {
        color: var(--ae-white);
      }
      .icon-bg {
        background: var(-white) !important;
        color: var(--ae-light-blue);
      }
    }
  }
  &.tab-navigation-wrap {
    h5,
    h6,
    p {
      color: var(--white);
    }
    ul {
      border-color: var(--white);
    }
  }
  &.nav-inner-links-wrap {
    background: var(--ae-teal);
    .inner-nav-links {
      li {
        a {
          background: rgb(255, 255, 255, 75%);
          &.active,
          &:hover {
            background: rgb(255, 255, 255, 100%);
            color: var(--ae-light-blue);
          }
        }
      }
    }
  }
  &.tab-navigation-wrap {
    h5,
    h6,
    p {
      color: var(--white);
    }
    ul {
      border-color: var(--white);
    }
  }
  &.tab-comp-wrap {
    h2 {
      color: var(--white);
    }

    .ae-tab {
      .tab-content {
        a,
        li,
        p,
        .icon-arrow-right {
          color: var(--ae-darker-blue);
        }
        .tab-pane {
          background: var(--ae-light-green);
          h1,
          h2,
          h3,
          h4 {
            color: var(--ae-light-blue);
          }
          p {
            color: var(--ae-darker-blue);
            strong {
              color: var(--ae-darker-blue);
            }
          }
          a {
            &:hover {
              color: var(--ae-light-blue);
            }
          }
        }
      }
      .nav-pills {
        .nav-item {
          .nav-link {
            &.active {
              background: var(--ae-light-green);
              color: var(--ae-darker-blue);
            }
          }
        }
      }
    }
  }
  &.tab-pane {
    background: var(--ae-teal) !important;
  }
  .ae-tab {
    .tab-pane {
      &.ae-teal {
        border: 1px solid var(--white);
        border-top: none;
        * {
          color: var(--white) !important;
        }
      }
      &.ae-light-blue {
        * {
          color: var(--white) !important;
        }
      }
    }
  }
  &.search-results-wrap {
    .search-results-item {
      &::after {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
  .asset {
    &:hover {
      background: rgba(255, 255, 255, 0.11);
    }
  }
  .btn-primary-bordered {
    color: var(--white) !important;
    background: transparent;
    .icon-arrow-right-solid,
    .icon-arrow-right {
      color: var(--ae-blue) !important;
      background: var(--white) !important;
    }
    &:hover {
      background: var(--ae-light-green) !important;
      color: var(--ae-dark-blue) !important;
      .icon-arrow-right-solid,
      .icon-arrow-right {
        color: var(--ae-light-green) !important;
        background: var(--ae-dark-blue) !important;
      }
    }
  }
  .gdw_story_title {
    a {
      color: var(--ae-white);
      &:hover {
        color: var(--ae-light-green);
      }
    }
  }
  .social-share{
    a{
      &:hover{
        .icon-bg{
          background: var(--ae-dark-blue);
          color: var(--white);
        }
      }
    }
  }
}

.ae-light-green {
  background: var(--ae-light-green);
  a {
    color: var(--ae-dark-blue);
    &:hover {
      color: var(--ae-darker-blue);
    }
  }
  * {
    color: var(--ae-dark-blue);
  }
  h1{
    color: var(--ae-blue);
  }
  p {
    color: var(--ae-dark-blue);
  }
  h2 {
    color: var(--ae-blue);
  }
  .icon-check-circle {
    color: var(--ae-blue);
  }
  .ae-contact-list {
    a {
      &:hover {
        .icon-bg {
          background: var(--ae-darker-blue);
          color: var(--white) !important;
        }
      }
    }
  }
  .btn {
    &.btn-primary-bordered {
      color: var(--ae-darker-blue);
      border-color: var(--ae-darker-blue) !important;
      &::after {
        background: var(--ae-darker-blue);
      }
    }
  }
  &.card-body {
    a {
      &:hover {
        .icon-bg,
        .link-text {
          color: var(--ae-darker-blue) !important;
        }
        .icon-bg {
          background: var(--white) !important;
        }
      }
    }
    box-sizing: border-box;
  }
  .contact-card {
    border: 1px solid var(--ae-light-blue) !important;
  }
  &.text-card {
    p,
    li,
    span {
      color: var(--ae-dark-blue);
    }
  }
  &.btn-card {
    background: var(--ae-light-green) !important;
    a {
      color: var(--ae-blue);
      .icon-bg {
        background: var(--ae-darker-blue);
        color: var(--white);
      }
      &:hover {
        .icon-bg {
          background: var(--ae-light-blue);
        }
      }
    }
  }

  .btn-card {
    &.ae-light-green {
      background: rgba(45, 105, 161, 0.11) !important;
      &:hover {
        background: var(--ae-light-blue) !important;
      }
    }
  }
  .video-card {
    background: var(--ae-light-blue);
    a,
    p {
      color: var(--white) !important  ;
    }
    &:hover {
      a {
        color: var(--ae-light-green) !important;
      }
    }
  }
  .text-card {
    border: 1px solid var(--ae-light-blue);
  }
  &.tab-content {
    background: var(--ae-light-green) !important;
    * {
      color: var(--ae-darker-blue) !important;
    }
    a:hover {
      color: var(--ae-light-blue);
    }
  }
  &.tab-pane {
    background: var(--ae-light-green) !important;
    * {
      color: var(--ae-dark-blue);
    }
    .asset {
      .icon-bg {
        background: var(--ae-dark-blue) !important;
        color: var(--ae-light-green) !important;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        background: rgba(45, 105, 161, 0.11) !important;
        .icon-bg {
          background: var(--ae-light-blue) !important;
          color: var(--ae-light-green) !important;
        }
        .asset-name {
          color: var(--ae-light-blue) !important;
        }
        .icon-pdf-arrow {
          color: var(--ae-darker-blue);
        }
      }
    }
    .btn-primary-bordered {
      .icon-arrow-right {
        color: var(--white);
      }
    }
  }
  .ae-tab {
    .tab-content {
      .tab-pane {
        &.ae-light-green {
          border: 1px solid var(--ae-teal);
          border-top: none;
          * {
            color: var(--ae-dark-blue) !important;
          }
        }
      }
    }
  }
  &.nav-inner-links-wrap {
    background: var(--ae-light-green);
  }
  .asset {
    color: var(--ae-dark-blue);
    .icon-bg {
      background: var(--ae-dark-blue);
      color: var(--white);
    }
    &:hover {
      .icon-bg {
        background: var(--ae-darker-blue);
        color: var(--white) !important;
      }
      .icon-pdf-arrow {
        color: var(--ae-darker-blue);
      }
    }
    &:hover {
      color: var(--ae-darker-blue);
      background: rgba(45, 105, 161, 0.11);
    }
  }
  .social-share {
    .icon-bg {
      background: var(--ae-dark-blue);
      color: var(--white);
      &:hover {
        background: var(--ae-darker-blue);
      }
    }
  }
  .accordion-body {
    &.ae-blue,
    .ae-light-blue {
      * {
        color: var(--white);
      }
      &.adaptive-content-wrap{
        ul,li,p,ol,td,h1,h2,h3,h4,h5,h6{
          color: var(--white) !important;
        }
      }
      ul,li,p,ol,td,h1,h2,h3,h4,h5,h6{
        color: var(--white) !important;
      }
      .asset {
        color: var(--ae-white);
        .icon-bg {
          background: var(--white);
          color: var(--ae-light-blue);
        }
        &:hover {
          .icon-bg {
            color: var(--ae-light-blue) !important;
          }
        }
      }
    }
  }
}

.txt-blue {
  color: var(--ae-light-blue);
}
