.banner-carousel-wrap {
  background: #f0f7ff;
  padding: rem-calc(80 0);
  @include media-breakpoint-down(md) {
    padding: rem-calc(40 0 10 0);
  }

  .carousel-progress {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid;
      width: 30px;
      padding: 0;
      height: 30px;
    }
    .alaska-progress-bar {
      height: 5px;
      background-color: #aab8c978;
      width: 200px;
      z-index: 11;
      display: flex;
      align-items: center;
      margin-left: 8px;
      .transition-timer-carousel-progress-bar {
        height: 5px !important;
        background-color: #3f5773;
        width: 0%;
        z-index: 11;
        position: relative;
      }
    }
  }
  #alaska-bannerCarousel {
    .carousel-inner {
      padding: 30px 0 80px 0;
      cursor: grab;
      user-select: none;
      img {
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(16);
        }
      }
      .carousel-item {
        .btn {
          @include media-breakpoint-down(md) {
            margin: rem-calc(16 0 0 0);
          }
          margin: rem-calc(16 0);
        }
      }
    }
    .carousel-indicators [data-bs-target] {
      flex: 0 1 auto;
      width: auto;
      height: auto;
      padding: 4px 16px 6px 16px;
      margin-right: 16px;
      text-indent: 0;
      cursor: pointer;
      transition: opacity 0.6s ease;
      background-color: #dcecff;
      border: 1.5px solid #e0e8f2;
      border-radius: 10px;
      color: #3f5773b2;
      font-weight: 700;
      align-items: center;
      opacity: 0.7;
      @include media-breakpoint-down(md) {
        width: 12px;
        height: 12px;
        font-size: 0;
        padding: rem-calc(0);
        opacity: 0.6;
        background-color: #3f57734d;
      }
    }
    .carousel-indicators {
      position: absolute;
      bottom: 0;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0;
      margin-right: 0;
      margin-bottom: 1rem;
      margin-left: 0;
      list-style: none;
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
      button {
        &.active {
          border-color: #314459;
          color: #3f5773;
        }
      }
      button {
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(24);
          display: inline-block;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      width: auto;
      padding: 0;
      span {
        filter: invert(1);
      }
    }
    .carousel-control-prev {
      left: rem-calc(-48);
    }
    .carousel-control-next {
      right: rem-calc(-48);
    }
  }
}
.hero-carousel-wrap {
  background: var(--ae-light-green);
  @include media-breakpoint-down(md) {
    padding-bottom: rem-calc(80);
  }
  h1,
  h2,
  h3 {
   // @extend .ae-border-top;
    @include media-breakpoint-down(md) {
      margin-bottom : rem-calc(16);
    }
  }
  > .container-fluid {
    padding-right: 0;
    @media screen and (min-width: 1921px) {
      max-width: 1340px; /* Adjust max-width as needed */
      padding:rem-calc(0 16);
    }
  }
  #alaska-bannerCarousel {
    .carousel-inner {
      cursor: grab;
      user-select: none;
      img {
        @include media-breakpoint-down(lg) {
          margin-bottom: rem-calc(16);
        }
      }
      .carousel-item {
        .btn {
          @include media-breakpoint-down(md) {
            margin: rem-calc(16 0 0 0);
          }
          margin: rem-calc(16 0);
        }
        .carousel-content {
          padding: rem-calc(54 32 32 12);
          margin-left: auto;
          min-height: rem-calc(300);
          @include media-breakpoint-down(lg) {
            padding: rem-calc(44 52 32 40);
            order: 2;
          }
          @include media-breakpoint-down(md) {
            padding: rem-calc(0 40 0 16);
            order: 2;
          }
          &.fluid {
            @include media-breakpoint-up(md) {
              max-width: 1340px; /* Adjust max-width as needed */
              margin-right: auto;
            }
            @include media-breakpoint-down(md) {
              padding-top: rem-calc(44);
            }
          }
          &.col-lg-7 {
            @include media-breakpoint-up(md) {
              max-width: 800px; /* Adjust max-width as needed */
            }
            @media screen and (min-width: 1620px) {
              max-width: 825px; /* Adjust max-width as needed */
            }
          }
        }
        .carousel-image {
          padding: 0;
          @include media-breakpoint-down(lg) {
            padding: rem-calc(32 52 0 40);
            order: 1;
          }
          @include media-breakpoint-down(md) {
            padding: rem-calc(32 40 50 16);
            order: 1;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .carousel-indicators [data-bs-target] {
      width: auto;
      height: auto;
      text-indent: 0;
      font-weight: $extra-bold;
      cursor: pointer;
      align-items: center;
      background: rgba($ae_light_blue, 0.2);
      color: var(--ae-blue);
      border-radius: rem-calc(8);
      transition: all 0.3s ease;
      font-family: var(--helvetica-neue-heavy);
      opacity: 1;
      padding: rem-calc(3 15);
    }
   
    .carousel-indicators {
      position: relative;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: rem-calc(40 0 16 0);
      padding-right: rem-calc(100);
      list-style: none;
      gap: rem-calc(16);
      font-size: rem-calc(18);
      @include media-breakpoint-down(md) {
        justify-content: center;
        display: none;
      }
      button {
        &.active {
          background: var(--white);
        }
        &:hover {
          background: var(--white);
        }
      }
      button {
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(24);
          display: inline-block;
        }
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      top: calc(100% - 80px);
      bottom: 0;
      padding: 0;
      align-items: end;
      margin-bottom: 2rem;
      height: rem-calc(35);
      width: rem-calc(35);
      background: var(--ae-light-blue);
      opacity: 1;
      display: flex;
      align-items: center;
      border-radius: 50%;
      z-index: 3;
      @include media-breakpoint-down(md) {
        // top: 100.5%;
        top: 340px;
      }
     
      span {
        color: var(--white);
        font-size: rem-calc(24);
      }
    }
    .carousel-control-prev {
      left: calc(52% - 45px);
      .icon-angle-right {
        transform: rotate(180deg);
      }
      @include media-breakpoint-down(lg) {
        left: calc(90% - 50px);
      }
      @include media-breakpoint-down(md) {
        left: calc(46% - 40px);
      }
    }
    .carousel-control-next {
      right: 45%;
      @include media-breakpoint-down(lg) {
        right: 5%;
      }
      @include media-breakpoint-down(md) {
        right: 40%;
        //right: calc(12% - 18px);
      }
    }
    .hero-copy {
     font-size: rem-calc(18);
     font-weight: $medium;
      color: var(--ae-dark-blue);
      @include media-breakpoint-down(md) {
        font-size: rem-calc(18);
      }
    }
  }
}

// hero carousel wrap container
.hero-carousel-wrap-container {
  background: var(--ae-light-green);
  margin: rem-calc(0 0 80);
  @include media-breakpoint-down(md) {
    padding: rem-calc(40 0 10 0);
  }
  h1
  {
    @extend .ae-left-border;
  }

  #alaska-bannerCarousel {
    .carousel-inner {
      padding: 30px 0 80px 0;
      cursor: grab;
      user-select: none;
      img {
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(16);
        }
      }
      .carousel-item {
        .row {
          align-items: center;
        }
        .btn {
          @include media-breakpoint-down(md) {
            margin: rem-calc(16 0 0 0);
          }
          margin: rem-calc(16 0);
        }
      }
    }
    .carousel-indicators [data-bs-target] {
      flex: 0 1 auto;
      width: auto;
      height: auto;
      text-indent: 0;
      cursor: pointer;
      align-items: center;
      background: rgba(250, 124, 83, 0.2);
      color: var(--ae-fire);
      border-radius: rem-calc(8);
      transition: all 0.3s ease;
      font-family: var(--helvetica-neue-heavy);
      opacity: 1;
      padding: rem-calc(3 15);
    }
    .carousel-indicators {
      position: relative;
      bottom: 0;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
      margin: rem-calc(32 0 16);
      gap: rem-calc(16);
      font-size: rem-calc(18);
      @include media-breakpoint-down(md) {
        justify-content: center;
        display: none;
      }
      button {
        &.active {
          background: var(--ae-fire-dark);
          color: var(--white);
          border-radius: 0;
        }
        &:hover {
          background: var(--ae-fire-dark);
          color: var(--white);
          border-radius: 0;
        }
      }
      button {
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(24);
          display: inline-block;
        }
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      top: calc(50% - 8px);
      bottom: 0;
      padding: 0;
      align-items: end;
      margin-bottom: 2rem;
      height: rem-calc(35);
      width: rem-calc(35);
      background: var(--ae-fire);
      opacity: 1;
      display: flex;
      align-items: center;
      border-radius: 50%;

      span {
        color: var(--white);
        font-size: rem-calc(24);
      }
      @include media-breakpoint-down(lg) {
        top: calc(100% - 80px);
        bottom: 0;
        padding: 0;
        align-items: end;
        margin-bottom: 2rem;
        height: rem-calc(35);
        width: rem-calc(35);
      }
    }

    .carousel-control-prev {
      // left: calc(50% - 40px);
      left: rem-calc(-60);
      @include media-breakpoint-down(lg) {
        left: auto;
        left: calc(50% - 40px);
        margin-top: rem-calc(25);
      }
      .icon-angle-right {
        transform: rotate(180deg);
      }
    }
    .carousel-control-next {
      // right: calc(50% - 40px);
      right: rem-calc(-60);
      @include media-breakpoint-down(lg) {
        right: 0;
        right: calc(50% - 40px);
        margin-top: rem-calc(25);
      }
    }
    .hero-copy {
      font-weight: 500;
      font-size: rem-calc(20);
      color: var(--ae-dark-blue);
    }
  }
}
.disabled{
  cursor: not-allowed;
  background: rgba(45, 105, 161, 0.1) !important;
  span{
    color: rgba(48, 63, 87, 0.3) !important;
  }
}