.footer-inner-wrap {
  padding: rem-calc(80 0 48);
  border-bottom: 1px solid rgba($white, 0.3);
  @include media-breakpoint-down(md) {
    padding: rem-calc(54 0 24);
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: rem-calc(0 0 32);
    @include media-breakpoint-down(md) {
      margin: rem-calc(0 0 24);
    }
   
    li {
      margin-bottom: rem-calc(16);
      font-size: rem-calc(14);
      font-weight: 500;
      line-height: rem-calc(24);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .icon-bg {
       width: rem-calc(40);
       height: rem-calc(40);
       font-size: rem-calc(16);
       flex: 0 0 rem-calc(40);
    }
   
  }
  p{
    font-size: rem-calc(14);
    font-weight: 500;
    line-height: rem-calc(22);
  }
  h6 {
    margin-bottom: rem-calc(24);
    @include media-breakpoint-down(md) {
      margin-bottom: rem-calc(18);
    }
  }
  a{
    font-weight: 500;
    text-decoration: none;
  }
}

.footer-parent-links {
  padding: rem-calc(26 0);
  border-bottom: 1px solid rgba($white, 0.3);
  .parent-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        gap:rem-calc(12)
    }
  }
  a{
    text-decoration: none;
  }
}

.copyrights-wrap {
  padding: rem-calc(32 0);
  a{
    font-size: rem-calc(16);
    font-weight: 800;
    text-decoration: none;
  }
}

.address-list {
  font-size: rem-calc(14);
  font-weight: 500;
  li {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    @include media-breakpoint-down(md) {
      margin-bottom: rem-calc(24) !important;
      &:first-child {
        margin-top: rem-calc(32);
      }
      p{
        margin-bottom: rem-calc(12);
      }
    }
  }
  h6 {
    margin-bottom: rem-calc(8);
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 20px;
  margin-bottom: rem-calc(32);
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    font-size: rem-calc(14);
  }
}

.social-share {
  display: flex;
  gap: 10px;
  list-style-type: none;
  @include media-breakpoint-down(md) {
    margin-bottom: 0 !important;
  }
  li {
    @include media-breakpoint-down(md) {
      margin-bottom: 0 !important;
    }
    &:after {
      content: none !important;
    }
  }
  a{
    text-decoration: none !important;
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .icon-bg {
    flex: 0 0 rem-calc(40);
    width: rem-calc(40);
    height: rem-calc(40);
    font-size: rem-calc(22) !important;
    transition: all 0.3s ease;
    @include media-breakpoint-down(lg) {
      width: rem-calc(32);
      height: rem-calc(32);
      padding-top: rem-calc(0);
      &::before{
        font-size: rem-calc(20);
      }
    }
  }
}
