.hero-wrap {
  .hero-img-wrap {
    @include media-breakpoint-up(lg) {
      min-height: rem-calc(350);
      max-height: rem-calc(560);
      display: flex;
    }
    img {
      width: 100%;
      flex: 1;
      object-fit: cover;
    }
  }
  .hero-content-wrap {
    margin-top: -200px;
    @include media-breakpoint-down(lg) {
      margin-top: rem-calc(-150);
    }
    @include media-breakpoint-down(md) {
      margin-top: rem-calc(-44);
    }
    .text-content {
      z-index: 2;
      h1 {
        color: var(--ae-blue);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: rem-calc(16);
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(8);
        }
      }
    }
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background: var(--white);
      height: 100%;
      width: 52%;
      top: 0;
      z-index: 1;
      @include media-breakpoint-down(lg) {
        width: 50%;
      }
      @include media-breakpoint-down(md) {
        width: 94%;
      }
    }
  }
}

.ae-meeting-wrap {
  @extend .yellow-bottom-border;
  padding-bottom: rem-calc(64);
  @include media-breakpoint-down(md) {
    padding-bottom: rem-calc(56);
  }
  > .container {
    .row {
      @include media-breakpoint-down(md) {
        row-gap: rem-calc(16);
      }
    }
  }
  
  h3,
  h4,
  h5 {
    color: var(--ae-light-blue);
    font-family: var(--helvetica-neue-medium);
    margin-bottom: rem-calc(16);
    font-weight: 800;
    
  }
  h3 {
    text-transform: uppercase;
    padding-left: 0;
    &::before{
      display: none;
    }
  }
}

.yellow-bottom-border {
  border-bottom: rem-calc(23) solid var(--ae-ochre);
}

.meeting-details {
  display: flex;
  margin-top: rem-calc(22);
  background: var(--ae-light-blue);
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  &:first-child {
    @include media-breakpoint-down(md) {
      margin-top: rem-calc(0);
    }
  }
  .month-detail {
    min-width: rem-calc(160);
    padding: rem-calc(32 48);
    color: var(--white);
    //font-weight: 500;
    font-family: var(--helvetica-neue-medium);
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      padding: rem-calc(16);
      min-width: rem-calc(60);
    }
    @include media-breakpoint-down(md) {
      padding: rem-calc(32);
      min-width: rem-calc(100);
    }
  }
  .year-detail {
    padding: rem-calc(32);
    font-family: var(--body-font-family);
    @include media-breakpoint-down(lg) {
      padding: rem-calc(16);
    }
    @include media-breakpoint-down(md) {
      padding: rem-calc(20);
    }
    background: var(--ae-light-green);
    display: flex;
    align-items: center;
    gap: rem-calc(32);
    flex: auto;
    color: var(--ae-dark-blue);
    @include media-breakpoint-down(lg) {
      gap: rem-calc(12);
    }
    @include media-breakpoint-down(md) {
      align-items: center;
      gap: rem-calc(20);
    }
    .icon-calendar {
      display: flex;
      width: rem-calc(56);
      height: rem-calc(56);
      background: var(--ae-teal);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      &::before {
        color: var(--white);
        font-size: rem-calc(24);
      }
    }
  }
  .month-detail{
    font-size: rem-calc(32);
    @include media-breakpoint-down(lg) {
      font-size: rem-calc(20);
    }
  }
  .year-detail{
    font-size: rem-calc(28);
    font-weight: 700;
    line-height: rem-calc(34);
    @include media-breakpoint-down(lg) {
      font-size: rem-calc(20);
    }
  } 
  &:hover{
    .year-detail{
      color: var(--ae-light-blue);
    }
    .icon-calendar{
      background: var(--ae-light-blue);
    }
  }
}