$font-base-url: "../assets/fonts";

// Fonts
@font-face {
  font-family: "Helvetica-Neue";
  src: url("#{$font-base-url}/helvetica-neue/helvetica-neue.eot");
  src: url("#{$font-base-url}/helvetica-neue/helvetica-neue.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base-url}/helvetica-neue/helvetica-neue.woff2") format("woff2"),
    url("#{$font-base-url}/helvetica-neue/helvetica-neue.woff") format("woff"),
    url("#{$font-base-url}/helvetica-neue/helvetica-neue.svg#helvetica-neue")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Neue-Heavy";
  src: url("#{$font-base-url}/helvetica-neue-heavy/helvetica-neue-heavy.eot");
  src: url("#{$font-base-url}/helvetica-neue-heavy/helvetica-neue-heavy.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base-url}/helvetica-neue-heavy/helvetica-neue-heavy.woff2") format("woff2"),
    url("#{$font-base-url}/helvetica-neue-heavy/helvetica-neue-heavy.woff") format("woff"),
    url("#{$font-base-url}/helvetica-neue-heavy/helvetica-neue-heavy.svg#helvetica-neue-heavy")
      format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Neue-Medium";
  src: url("#{$font-base-url}/helvetica-neue-medium/helvetica-neue-medium.eot");
  src: url("#{$font-base-url}/helvetica-neue-medium/helvetica-neue-medium.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base-url}/helvetica-neue-medium/helvetica-neue-medium.woff2") format("woff2"),
    url("#{$font-base-url}/helvetica-neue-medium/helvetica-neue-medium.woff") format("woff"),
    url("#{$font-base-url}/helvetica-neue-medium/helvetica-neue-medium.svg#helvetica-neue-medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family:'LEMON-MILK-BOLD';
  src: url('#{$font-base-url}/lemon-milk-bold/lemon-milk-bold.eot');
  src: url('#{$font-base-url}/lemon-milk-bold/lemon-milk-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-base-url}/lemon-milk-bold/lemon-milk-bold.woff2') format('woff2'),
    url('#{$font-base-url}/lemon-milk-bold/lemon-milk-bold.woff') format('woff'),
    url('#{$font-base-url}/lemon-milk-bold/lemon-milk-bold.svg#lemon-milk-bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'LEMON-MILK-MEDIUM';
  src: url('#{$font-base-url}/lemon-milk-medium/lemon-milk-medium.eot');
  src: url('#{$font-base-url}/lemon-milk-medium/lemon-milk-medium.eot?#iefix') format('embedded-opentype'),
    url('#{$font-base-url}/lemon-milk-medium/lemon-milk-medium.woff2') format('woff2'),
    url('#{$font-base-url}/lemon-milk-medium/lemon-milk-medium.woff') format('woff'),
    url('#{$font-base-url}/lemon-milk-medium/lemon-milk-medium.svg#lemon-milk-medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
