// Icons
$right: '\f0da'; // fa-caret-right
$second_right: '\f105'; // fa-angle-right
$down: '\f0d7'; // fa-caret-down
$second_down: '\f107'; // fa-angle-down

$third: '-';
$fourth: '·';

$calendar_prev: '\f0d9'; // fa-caret-left
$calendar_next: '\f0da'; // fa-caret-right

$up: '\f106'; // fa-angle-up

$search: '\f002'; // fa-search